.panel-default .panel-heading {
    background-color: #E3ECEC;
}
.delete {
    cursor: pointer;
}
.preview {
    width: 223px;
    height: 230px;
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}